@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .hero-bg-color {
    @apply bg-gradient-to-r from-gray-300/80 to-gray-100 dark:from-gray-900 dark:to-gray-800 dark:text-white;
  }
}

/* Body Background Styles */

.dark body {
  @apply bg-gray-100 dark:bg-[#0f0f0f] transition-colors duration-300;
}

.light body {
  @apply bg-[#f3f4f6] transition-colors duration-300;
}
/* Categories Hero Text Styles */

.light body .categories-hero {
  @apply text-[#0f0f0f] transition-colors duration-300;
}

.dark body .categories-hero {
  @apply dark:text-[#f3f4f6] transition-colors duration-300;
}

/* Heading products Text Styles */

.light body .heading-text {
  @apply text-[#0f0f0f] transition-colors duration-300;
}

.dark body .heading-text {
  @apply dark:text-[#f3f4f6] transition-colors duration-300;
}

/* Products Text Styles */

.light body .products-text {
  @apply text-[#1f1f1f] transition-colors duration-300;
}

.dark body .products-text {
  @apply dark:text-[#e4e4e4] transition-colors duration-300;
}

/* News Section Text Styles */

.light body .text-news-section {
  @apply text-[#1f1f1f] transition-colors duration-300;
}

.dark body .text-news-section {
  @apply dark:text-[#e4e4e4] transition-colors duration-300;
}

/* Footer Text Styles */

.dark body .text-footer {
  @apply dark:text-[#e4e4e4] transition-colors duration-300;
}
.light body .text-footer {
  @apply text-[#1f1f1f] transition-colors duration-300;
}

/* Reservas Text Styles */

.dark body .reservas-text {
  @apply dark:text-[#e4e4e4] transition-colors duration-300;
}
.light body .reservas-text {
  @apply text-[#1f1f1f] transition-colors duration-300;
}